

/* 申请使用 */
.apply-use {
    background: url('../images/index/form_bg.png') no-repeat center/cover;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 16px;
}
.apply-use > div{margin:0 auto;float: none;margin: 0 auto;}

.apply-use p {
    letter-spacing: 1px;
    font-size: 16px;
}
.apply-use form{padding-top: 10px;}
.apply-use input {
    margin-bottom: 12px;
    border-radius: 1px;
    height: 40px;
}
.apply-use label{
    color: #ef4747;
    font-weight: normal;
    margin-bottom: 10px;
}

.apply-use input::-webkit-input-placeholder {
    color: #aeaeae;
    font-family: "Microsoft YaHei";
}
.apply-btn {
    background: #cd2332;
    color: #fff;
    border: none;
}
/* 申请使用 */
/* 合作伙伴 */
.cooperate{padding-top: 25px;}
.cooperate h4 {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 1.5;
    color: #2a2a2a;
}
.cooperate ul {
    padding: 15px 0 22px ;
    text-align: center;
}
.cooperate li {
    display: inline-block;
    margin-bottom: 12px;
}
.cooperate li img {
    height: 36px;
}
/* 合作伙伴 */

@media screen and (max-width: 970px){
    .jumbotron{
        background:url("../images/recruit/banner.jpg") no-repeat center/cover;
        height: 450px;
    }
    .jumbotron h1{
        color: #feb742;
        padding-top: 58px;
        
    }
    .jumbotron p {
        color: #e3933a;
        font-size: 24px;
        padding-top: 10px;
    }
    .jumbotron p  a{
        background: #cd2332;
        color: #fff;
        border-radius: 0;
        padding: 7px 25px;
     }

    /* 合作伙伴跳转高度 */
    .cooperate li img {
        height: 27px;
    }
    .intro >h2{font-size: 20px;}
    .intro >p{letter-spacing: 1px;line-height: 1.8;padding-top: 10px;padding-bottom: 10px;}
   
  
    .intro .row > div{      
        margin-bottom: 20px;  
        padding-left: 20px;
        padding-right: 20px;      
    }

    .intro .row > div >div{
        background: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid #eee;
    }
    .intro .imgWrap{
        width: 180px;
        margin: 0 auto;
    }
}
/* 合作伙伴 */
@media screen and (min-width:978px){
     .jumbotron{
        background:url("../images/recruit/banner-pc.jpg") no-repeat center/cover;
        height: 600px;
    }
    .cooperate{
        background: #f8f8f8;
        padding-bottom: 38px;
        padding-top: 38px;
    }
    .cooperate h4{
        font-size: 28px;
        margin-bottom: 50px;
    }
    /* 代理商Pc样式 */
    .apply-use div{width:490px;margin-left: auto;margin-right: auto;}
    .apply-use input{
        width: 100%;
        border-radius: 4px;
        height: 45px;
        margin-bottom: 14px;
    }
    .apply-use label{margin-bottom: 15px;}
    .apply-use p{
        font-size: 26px;
        padding-top: 25px;padding-bottom: 25px;
     }
    .apply-use{
        padding-bottom: 45px;
    }
    .apply-use #btn_channelAgent{width: 175px;height: 50px;margin:0 auto;border-radius: 4px;margin-top: 20px;display: block;margin-top: 38px;}
    .agent{padding-top: 20px;padding-bottom: 45px;}
    .agent .content{}
    .agent .content > div{}
    .describe{ position:relative; max-width:1000px; margin:0 auto}
    .describe img{width:100%; height:auto}
    .describe span{ display:block; position:absolute; }
    .describe span h3{ font-size:18px;color:#2a2a2a; text-align:center;margin:0 0 15px 0}
    .describe span p{ color:#7e7e7e; line-height:1.8; font-size:14px; }

    .block1{ width:200px; left:4%; top:29%}
    .block2{ width:270px; left:13%; top:63%}
    .block3{ width:200px; left:49%; top:8%}
    .block4{ width:240px; left:73.5%; top:26%}

    .blockCT{width:120px;left:41%; top:40%}
    .describe span.blockCT h3{ font-size:26px; font-weight:normal}

    /* 巨幕样式 */
    .bgRow { padding:132px 20px 125px 20px}
    .bgRow h2{ text-align:center; height:100px}
    .bgRow h2 img{ margin:auto}
    .bgRow h2:before{ display:none}
    /*.bgRow h2+p{ color:#fff; text-align:center; max-width:768px; margin:auto; line-height:2; letter-spacing:2px}*/
    .bgRow h2+p{ box-sizing:border-box;max-width:730px;height:110px; margin:auto;line-height:1.5; padding:1.5% 2% 2% 2%; font-size:20px; color:#fff; position:relative; background:rgba(205,35,50,0.2); }
    .bgRow h2+p em{ font-size:26px; font-weight:bold; color:#fda833}
    .bgRow h2+p:before,.bgRow > div h2+p:after{ display:block;content:''; width:0; height:0; margin:auto;position:absolute; top:0; bottom:0; border-bottom:55px solid rgba(205,35,50,0.2);border-top:55px solid rgba(205,35,50,0.2);}
    .bgRow h2+p:before{left:-30px;border-left:30px solid transparent;}
    .bgRow h2+p:after{right:-30px;border-right:30px solid transparent;}

    .bgRow .joinus{ text-align:center; margin:3% 0 0 0}
    .bgRow .joinus a{ background:#cd2332;display:inline-block;padding:16px 50px;font-size:18px;text-align:center;border-radius:3px;color:#fff;position:relative}
}