<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winhong.cloudweb.mapper.AgentsMapper">

	<resultMap id="BaseResultMap" type="com.winhong.cloudweb.pojo.Agents">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="enterprise" jdbcType="VARCHAR" property="enterprise" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="createtime" jdbcType="VARCHAR" property="createtime" />
	</resultMap>

	<!-- 【成为渠道代理商】新增 -->
	<insert id="insertAgents" parameterType="com.winhong.cloudweb.pojo.Agents">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		INSERT INTO yun_agents(enterprise,user_name,phone_number,email,createtime)
		VALUE (
			#{enterprise,jdbcType=VARCHAR},
			#{userName,jdbcType=VARCHAR},
			#{phoneNumber,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{createtime,jdbcType=VARCHAR}
		)
	</insert>

</mapper>