body{border: 1px solid #000;}


div#myApp{
	width: 500px;
	height: 250px;
	background: url('../../img/background.jpg') no-repeat center;
}


div#base64{
	width: 500px;
	height: 250px;
	 background: url('../../img/style-error.png') no-repeat center; 
}


